body
{
font-family:Arial;
}
.bluetabs{
border-bottom: 1px solid gray;
}

.bluetabs ul{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; 
}

.bluetabs li{
display: inline;
margin: 0;
}

.bluetabs li a{
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid #778;
color: #2d2b2b;
background: white url(/images/bluetab.gif) top left repeat-x;
}

.bluetabs li a:visited{
color: #2d2b2b;
}

.bluetabs li a:hover{
text-decoration: underline;
color: #2d2b2b;
}

.bluetabs li.selected{
}

.bluetabs li.selected a{ 
background-image: url(/images/bluetabactive.gif);
border-bottom-color: white;
}

.bluetabs li.selected a:hover{ 
text-decoration: none;
}

#Questions{
margin:10px 20px 10px 20px;

}

img{
padding-bottom: 10px;
}
